*{
    margin: 0;
    padding: 0;
}
body{
    background-color: beige;
}
h1{
    margin: 3% 0;
}
p.intro-text{
    margin-bottom: 3%;
}
.container{
    text-align: center;
}
.main-img{
    width: 25%;
    margin: 0 auto;
    margin-bottom: 3%;
}
li{
    display: inline-flex;
    width: 20%;
}
li a{
    width: 100%;
}
